body{
  background: -webkit-linear-gradient(to left, #2e2883 , #c9d0d6);
  background: linear-gradient(to left, #2e2883 , #c9d0d6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color : #fff; 
}
.grid{
  display: grid;
  grid-template-columns: 50% 50%;
}

.grid div{
  margin: 0px auto;
  padding: 1em;
}
div:hover{
  border: 1px solid yellow;
}
textarea{
  height: 530px;
  width: 530px;
  background-color: transparent;
  border-radius: 24px;
  font-size: 28px;
  font-style:italic;
  color: #691881;
  border-color: black;
  border-width: 2px;
}
textarea.form-control{

  background-color: #f4f4f4;
  color: #131313;
}

button{
  padding: 10px 30px 10px 30px;
  border-radius: 0.8rem;
  width: 12rem;
  height: 3rem;
  cursor: pointer;
}


.btn-cry{
  background-color: #0a3871;
  color: whitesmoke;
  border-color: #0a3871;
}
.button2 {
  background-color: transparent;
  color: #0a3871;
  border-color: #0a3871;
}
.imgdesp{
  
  font-size: 24px;
}
/* ocular */

#seccion2{
  display: none;
}
#sec-btn2{
  display: none;
}